# Dependencias
node_modules/
npm-debug.log*

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Carpetas de compilación
dist/
build/

# Logs
logs
*.log

# Editor de código
.vscode/
.idea/
